﻿@{
    ViewBag.Title = "Enquete";
}

<div class="body-content" ng-app="enqueteApp" ng-controller="EnqueteController" ng-model="gladiators">
    <h1>Quem ganhará esta batalha?</h1>
    <hr />
    <h3>Clique na imagem e escolha o personagem quem sairá vencedor da maior batalha de todos os tempos.</h3>
    <br />

    <div class="row">

        <div class="col-md-4" ng-repeat="gladiator in gladiators">
            <div class="panel panel-default">
                <div class=" panel-body">
                    <a href="#" ng-click="setGladiator(gladiator)" class="thumbnail" data-toggle="modal" data-target="#confirm">
                        <img ng-src="{{ gladiator.ImageUrl }}" alt="{{ gladiator.Name }}">
                    </a>
                </div>
                <div class="panel-footer">
                    <span> <b>Nome: </b> {{ gladiator.Name }} </span><br />
                    <span> <b>Poder: </b> {{ gladiator.Power }} </span><br />
                    <span style="font-size: 25px; color: #ff6a00"> <b>Total de Votos:  {{ gladiator.AmountOfVotes }} </b></span>
                </div>
            </div>
        </div>

        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert">Seu voto foi processado e ja está contabilizado para o {{gladiator.Name}} </div>
        </div>
    </div>

    <div id="confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Será que o <b>{{ gladiator.Name }}</b> vai ganhar? :) </h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img class="img-rounded" ng-src="{{ gladiator.ImageUrl }}" alt="{{ gladiator.Name }}" width="100" height="150">
                    </div>
                    <div>
                        <p>
                            Você acha realmente que o <b>{{ gladiator.Name }}</b> ganhará esta batalha?
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não Acho</button>
                    <button ng-click="sendProcessVoteCommand(gladiator)" type="button" class="btn btn-primary">Acho</button>
                </div>
            </div>
        </div>
    </div>
</div>